# Binarios compilados
*.exe
*.exe~
*.dll
*.so
*.so.*
*.dylib
main

# Directorios de build
/bin/
/obj/
/input/
/output/

# Archivos temporales
*.tmp
*.log
*.out
/input/*.*  

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Go
vendor/
.env
